
body {
    color: #d0d0c4;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-smooth: subpixel-antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #fafafc;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 52px;
    font-weight: 800;
}

h4 {
    font-size: 17px;
    font-weight: 600;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

.ao-sm-text {
    font-size: 11px;
}

.ao-lg-text {
    font-size: 16px;
}

.ao-white {
    color: #fafafc;
}

.container-fluid {
    overflow: hidden;
    padding: 0 30px;
    position: relative;
}

.ao-buttons-frame a {
    margin-right: 15px;
}

.ao-el-suptitle {
    margin-top: 5px;
    color: #a4b6c2;
    font-style: italic;
    font-size: 11px;
}

.ao-ls-divider {
    background: #a4b6c2;
    width: 100%;
    height: 1px;
    opacity: 0.3;
}

a {
    text-decoration: none;
    color: #d0d0c4;
}

a:hover {
    text-decoration: none;
    color: #fafafc;
}

a:focus {
    outline: inherit;
}

.ao-table {
    color: #d0d0c4;
}

.ao-table ul {
    padding: 0;
    margin: 0;
}

.ao-table ul li {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ao-table ul li:last-child {
    margin-bottom: 0;
}

.ao-custom-list {
    padding-left: 25px;
}

.ao-custom-list li {
    position: relative;
    list-style-type: none;
    color: #fafafc;
    margin-bottom: 5px;
}

.ao-custom-list li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: -25px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid 2px  #3AB4F2;
    background: transparent;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.ao-link {
    position: relative;
    text-transform: uppercase;
    font-size: 10px;
    display: inline-block;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin-right: 15px;
    margin-bottom: 10px;
    color: #d0d0c4;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-link:hover {
    color: #fafafc;
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}

.ao-link.ao-white-link {
    color: #fafafc;
}

.ao-link.ao-white-link:hover {
    color: #fafafc;
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.ao-link.ao-color-link {
    color:  #3AB4F2;
}

.ao-link.ao-color-link:hover {
    color:  #3AB4F2;
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.ao-link.ao-w-chevron {
    padding-right: 10px;
}

.ao-link.ao-w-chevron:after {
    position: absolute;
    font-family: "Font Awesome 5 free";
    content: '\f054';
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 9px;
    top: 0.3px;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-link.ao-w-chevron:hover {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.ao-link.ao-w-chevron:hover:after {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.ao-link:last-child {
    margin-bottom: 0;
    margin-right: 0;
}

.ao-link i {
    font-size: 9px;
    margin-left: 3px;
}

.ao-link.ao-left-link {
    padding-left: 10px;
    padding-right: 0;
}

.ao-link.ao-left-link.ao-w-chevron:after {
    content: '\f053';
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.ao-link.ao-left-link.ao-w-chevron:hover:after {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
}

.ao-btn {
    text-transform: uppercase;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    color: #20202a;
    background:  #3AB4F2;
    letter-spacing: 1.5px;
    font-weight: 600;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border: none;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-btn span {
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.ao-btn.ao-btn-md {
    height: 45px;
    font-size: 11px;
    padding: 0 35px;
}

.ao-btn.ao-btn-sm {
    height: 40px;
    font-size: 11px;
    padding: 0 30px;
}

.ao-btn:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    color: #1e1e28;
}

.p-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
}

.p-0-30 {
    padding-top: 0;
    padding-bottom: 30px;
}

.p-30-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.p-30-15 {
    padding-top: 30px;
    padding-bottom: 15px;
}

.p-15-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-15-0 {
    padding-top: 15px;
    padding-bottom: 0;
}

.p-60-0 {
    padding-top: 60px;
    padding-bottom: 0;
}

.p-230-0 {
    padding-top: 230px;
    padding-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 25px;
}

@media (max-width: 1400px) {
    .p-lg-30-0 {
        padding-top: 30px;
        padding-bottom: 0;
    }
}

@media (max-width: 920px) {
    .p-md-15-0 {
        padding-top: 15px;
        padding-bottom: 0;
    }
}

.ao-top-bg {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    background-position: center;
    height: 400px;
    background-size: cover;
}

.ao-top-bg .ao-top-bg-overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 40, 0.93)), color-stop(70%, rgba(30, 30, 40, 0.96)), color-stop(80%, rgba(30, 30, 40, 0.99)), to(#1e1e28));
    background-image: linear-gradient(180deg, rgba(30, 30, 40, 0.93) 0%, rgba(30, 30, 40, 0.96) 70%, rgba(30, 30, 40, 0.99) 80%, #1e1e28 100%);
}

.ao-preloader {
    margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    background: #20202a;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ao-preloader .ao-preloader-content {
    margin-bottom: 15px;
    text-align: center;
}

.ao-preloader .ao-preloader-content .ao-preloader-load {
    margin-top: 5px;
    width: 300px;
}

.ao-preloader .ao-preloader-content .ao-preloader-load .progressbar-text {
    position: relative;
    font-size: 14px;
    font-weight: 400 !important;
    color: #8c8c8e !important;
    height: 300px;
    line-height: 350px;
}

.ao-preloader-load path:first-child {
    stroke: #191923;
}

.ao-preloader-load path:last-child {
    stroke:  #3AB4F2;
}

.ao-scroll-frame {
    width: 100%;
    height: calc(100vh - 30px);
}

.scrollbar-track {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/*background color*/

.ao-app {
    padding: 15px;
    background: #27374D;
    width: 100vw;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ao-app * {
    scrollbar-width: none;
}

.ao-app ::-webkit-scrollbar {
    display: none;
}

.ao-app .ao-mobile-top-bar {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 70px;
    background: #20202a;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    padding: 0 30px;
    display: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ao-app .ao-app-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background: #1e1e28;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.ao-app .ao-app-wrapper .ao-app-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-info-bar {
    width: 290px;
    min-width: 290px;
    height: calc(100vh - 30px);
    position: relative;
    z-index: 999;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame {
    padding: 0 15px;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame .ao-info-bar-header {
    width: 100%;
    height: 70px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999999999999;
    display: none;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame .ao-info-bar-header .ao-info-bar-btn {
    margin-left: auto;
    pointer-events: all;
    font-size: 14px;
    padding: 30px;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame .ao-info-bar-header .ao-info-bar-btn.ao-disabled {
    opacity: 0;
    pointer-events: none;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame .ao-scroll-frame .scroll-content {
    padding: 240px 0 50px;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-content {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: calc(100vh - 30px);
    padding-right: 80px;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-content .ao-curtain {
    background: rgba(30, 30, 40, 0.88);
    position: absolute;
    z-index: 9;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-content.ao-active {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

.ao-app .ao-app-wrapper .ao-app-container .ao-content.ao-active .ao-curtain {
    pointer-events: all;
    opacity: 0.7;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar {
    background: #20202a;
    width: 230px;
    height: calc(100vh - 30px);
    position: absolute;
    z-index: 99;
    right: -150px;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar .ao-menu-bar-frame {
    position: relative;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar .ao-menu-bar-frame .ao-menu-bar-header {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
}

.ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar .ao-menu-bar-frame .ao-menu-bar-header .ao-menu-bar-btn {
    pointer-events: all;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar .ao-menu-bar-frame .ao-menu-bar-header .ao-menu-bar-btn.ao-disabled {
    opacity: 0;
    pointer-events: none;
}

.ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar.ao-active {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
}

@media (max-width: 920px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ao-preloader {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .ao-scroll-frame {
        height: 100vh;
    }
    
    .ao-app {
        padding: 0;
    
    }
    
    .ao-app .ao-mobile-top-bar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .ao-app .ao-app-wrapper {
        border-radius: 0;
        height: 100vh;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container {
        width: 100%;
        /* ----- info bar ----- */
        /* ----- content ----- */
        /* ----- menu bar ----- */
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-info-bar {
        position: absolute;
        left: -290px;
        width: 290px;
        height: 100vh;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-info-bar.ao-active {
        -webkit-transform: translateX(290px);
        transform: translateX(290px);
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame .ao-info-bar-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-info-bar .ao-info-bar-frame .ao-info-bar-header .ao-info-bar-btn {
        -webkit-transform: translateX(70px);
        transform: translateX(70px);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-info-bar.ao-active .ao-info-bar-frame .ao-info-bar-btn {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-content {
        position: relative;
        width: 100vw;
        height: 100vh;
        padding-right: 0;
        padding-top: 70px;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-content .ao-scroll-frame {
        height: calc(100vh - 70px);
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-content.ao-active {
        -webkit-transform: none;
        transform: none;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-content.ao-active .ao-curtain {
        pointer-events: all;
        opacity: 1;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar {
        position: absolute;
        right: -230px;
        width: 230px;
        height: 100vh;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar.ao-active {
        -webkit-transform: translateX(-230px);
        transform: translateX(-230px);
    }
   
    .ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar .ao-menu-bar-btn {
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }
    
    .ao-app .ao-app-wrapper .ao-app-container .ao-menu-bar.ao-active .ao-menu-bar-btn {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* ----- info bar ----- */

@media (max-width: 290px) {
    
    .ao-app {
       
    }
    
    .ao-app .ao-info-bar {
        width: 100vw;
    }
}

@media (max-width: 230px) {
    
    .ao-app {
    /
    }
    
    .ao-app .ao-menu-bar {
        width: 100vw;
    }
}

.ao-app-onepage .ao-app-wrapper .ao-app-container .ao-content {
    padding-right: 0;
}

.ao-info-bar {
    padding: 0 15px;
    /* ----- header ----- */
    /* ----- name ----- */
    /* ----- language skills ----- */
    /* ----- hard skills ----- */
    /* ----- knowledge ----- */
    /* ----- info bar links ----- */
    /* ----- social links ----- */
}

.ao-info-bar .ao-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    padding: 30px;
    height: 235px;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    text-align: center;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
}

.ao-info-bar .ao-header .ao-avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}

.ao-info-bar .ao-header .ao-avatar .ao-avatar-curtain {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    outline: inherit;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    z-index: 0;
}

.ao-info-bar .ao-header .ao-avatar .ao-avatar-curtain i {
    background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
    width: 30px;
    height: 30px;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 11px;
    line-height: 30px;
    color: #fafafc;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-info-bar .ao-header .ao-avatar .ao-avatar-curtain img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    z-index: 0;
}

.ao-info-bar .ao-header .ao-avatar .ao-avatar-curtain:hover {
    opacity: 1;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    outline: inherit;
}

.ao-info-bar .ao-header .ao-avatar .ao-avatar-curtain:hover i {
    opacity: .7;
}

.ao-info-bar .ao-header .ao-avatar .ao-avatar-curtain:hover i:hover {
    opacity: 1;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light {
    z-index: 2;
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light:before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 1px;
    background: #fafafc;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    -webkit-animation: puls 1s infinite;
    animation: puls 1s infinite;
}

@-webkit-keyframes puls {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes puls {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}


.ao-info-bar .ao-header .ao-avatar .ao-lamp-light .ao-available-lamp {
    position: absolute;
    bottom: 3px;
    right: 5px;
    height: 15px;
    width: 15px;
    background:  #3AB4F2;
    border-radius: 50%;
    z-index: 0;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light .ao-available-lamp:after {
    position: relative;
    content: 'I am available for freelance hire';
    width: 115px;
    display: block;
    padding: 5px 10px;
    top: -10px;
    left: 28px;
    font-size: 10px;
    font-weight: 200;
    color: #d0d0c4;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    background: #191923;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    text-align: left;
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light .ao-available-lamp:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    right: -15px;
    top: 5px;
    opacity: 0;
    background: #191923;
    pointer-events: none;
    -webkit-transform: translateX(20px) rotate(45deg);
    transform: translateX(20px) rotate(45deg);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    z-index: 99;
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light .ao-available-lamp:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light .ao-available-lamp:hover:after {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light .ao-available-lamp:hover:before {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(45deg);
    transform: translateX(0) rotate(45deg);
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light.ao-not-available:before {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light.ao-not-available .ao-available-lamp {
    background: red;
}

.ao-info-bar .ao-header .ao-avatar .ao-lamp-light.ao-not-available .ao-available-lamp:after {
    content: "Sorry I'm busy today";
}

.ao-info-bar .ao-name {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-info-bar .ao-name a {
    color: #fafafc;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-info-bar .ao-name:hover a {
    color:  #3AB4F2;
}

.ao-info-bar .ao-lang-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ao-info-bar .ao-lang-skills .ao-lang-skills-item {
    width: 33.33333%;
    text-align: center;
    margin-bottom: 15px;
}

.ao-info-bar .ao-lang-skills .ao-lang-skills-item .ao-cirkle-progress {
    width: 65%;
    margin: 0 auto 15px;
}

.ao-info-bar .ao-lang-skills .ao-lang-skills-item .ao-cirkle-progress .progressbar-text {
    font-size: 11px;
    color: #8c8c8e !important;
    position: relative;
    left: 45% !important;
}

.ao-info-bar .ao-lang-skills .ao-lang-skills-item .ao-cirkle-progress .progressbar-text:after {
    content: '%';
    position: absolute;
    right: -7px;
}

.ao-info-bar .ao-hard-skills .ao-hard-skills-item {
    margin-bottom: 15px;
    position: relative;
}

.ao-info-bar .ao-hard-skills .ao-hard-skills-item .ao-skill-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ao-info-bar .ao-hard-skills .ao-hard-skills-item .ao-line-progress {
    width: 100%;
}

.ao-info-bar .ao-hard-skills .ao-hard-skills-item .ao-line-progress .progressbar-text {
    width: 100%;
    text-align: right;
    top: -6px !important;
    font-size: 11px;
    color: #8c8c8e !important;
}

.ao-info-bar .ao-knowledge-list {
    padding-left: 0;
}

.ao-info-bar .ao-knowledge-list li {
    list-style-type: none;
    margin-bottom: 5px;
    color: #d0d0c4;
}

.ao-info-bar .ao-knowledge-list li:last-child {
    margin-bottom: 0;
}

.ao-info-bar .ao-knowledge-list li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
    font-size: 9px;
    color:  #3AB4F2;
    margin-right: 10px;
}

.ao-info-bar .ao-links-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ao-info-bar .ao-ls-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 35px;
    height: 50px;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    left: 0;
    width: 100%;
    z-index: 999;
}

.ao-info-bar .ao-ls-social a {
    color: #d0d0c4;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.ao-info-bar .ao-ls-social a:hover {
    text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
    color: #fafafc;
}

/* ----- progresbar color ----- */


.ao-line-progress path:first-child {
    stroke: #191923;
}

.ao-line-progress path:last-child {
    stroke:  #3AB4F2;
}

.ao-cirkle-progress path:first-child {
    stroke: #191923;
}

.ao-cirkle-progress path:last-child {
    stroke:  #3AB4F2;
}


/* ------------------------------

content

------------------------------ */

/* ----- section title ----- */

.ao-section-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ao-section-title .ao-title-frame {
    -ms-flex-item-align: center;
    align-self: center;
    position: relative;
    margin-bottom: 30px;
}

.ao-section-title .ao-right-frame {
    padding-bottom: 30px;
}

/* ----- card ----- */

.ao-card {
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    padding: 30px;
    margin-bottom: 30px;
}

/* ----- banner ----- */

.ao-banner-back {
    content: '';
    position: absolute;
    z-index: 0;
    top: -30px;
    width: 90%;
    height: 30px;
    margin-left: 5%;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(30, 30, 40, 0.88);
}

.ao-banner {
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
    background-size: cover;
    background-position: center;
    position: relative;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    z-index: 999;
}

.ao-banner .ao-banner-overlay {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px;
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0.7)));
    background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%);
}

.ao-banner .ao-banner-overlay.ao-side-overlay {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0)));
    background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0) 100%);
}

.ao-banner .ao-banner-overlay .ao-banner-title {
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
}

.ao-banner .ao-banner-overlay .ao-banner-title h1 {
    color: #fafafc;
}

.ao-banner .ao-banner-overlay .ao-banner-photo {
    width: 390px;
    position: absolute;
    right: 30px;
    bottom: 0;
}


/* ----- typing code ----- */

.ao-code {
    font-family: "Courier Prime", monospace;
    color: #fafafc;
}

.ao-code i {
    font-style: normal;
    color:  #3AB4F2;
}


/* ----- counters ----- */

.ao-counter-frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
    opacity: 0;
    position: relative;
}

.ao-counter-frame .ao-counter-box {
    min-width: 60px;
}

.ao-counter-frame .ao-counter-box .ao-counter {
    color:  #3AB4F2;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.ao-counter-frame .ao-counter-box .ao-counter-plus {
    margin-left: 3px;
    color:  #3AB4F2;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}


/* ----- services ----- */

.ao-service-icon-box {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
}

.ao-service-icon-box .ao-service-ib-content {
    padding: 30px;
}

.ao-service-icon-box .ao-service-ib-content .ao-service-ib-icon {
    position: absolute;
    right: 10px;
    bottom: -45px;
    opacity: 0.03;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    -ms-flex-item-align: center;
    align-self: center;
}


/* ----- prices ----- */

.ao-price {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    text-align: center;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.ao-price.ao-popular-price {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.ao-price.ao-popular-price:before {
    font-size: 10px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 99;
    top: 18px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    font-weight: 600;
    color: #1e1e28;
    right: -72px;
    content: 'POPULAR';
    padding: 2px;
    width: 200px;
    text-align: center;
    background:  #3AB4F2;
}

.ao-price .ao-price-body {
    position: relative;
    padding: 30px;
}

.ao-price .ao-price-body .ao-asterisk {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 0;
    text-align: center;
    font-size: 8px;
    opacity: 0.4;
}


.ao-price .ao-price-body .ao-price-cost {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
    padding: 0 10px;
}


.ao-price .ao-price-body .ao-price-cost .ao-number {
    font-size: 32px;
    color:  #3AB4F2;
    font-weight: 600;
    margin-bottom: 0;
}

.ao-price .ao-price-body .ao-price-cost .ao-number span {
    color: #fafafc;
    font-size: 12px;
    font-weight: 200;
    padding: 0 5px;
    opacity: 0.6;
}

.ao-price .ao-price-body .ao-price-cost .ao-number sup {
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 0;
    opacity: 0.6;
}

.ao-price .ao-price-body .ao-price-list {
    padding: 0;
    margin: 0 0 30px;
}

.ao-price .ao-price-body .ao-price-list li {
    list-style-type: none;
    margin-bottom: 15px;
}

.ao-price .ao-price-body .ao-price-list li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    margin-right: 5px;
    font-size: 9px;
    color:  #3AB4F2;
}

.ao-price .ao-price-body .ao-price-list li.ao-empty-item {
    opacity: 0.3;
}

.ao-price .ao-price-body .ao-price-list li.ao-empty-item:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00d";
    margin-right: 5px;
    font-size: 9px;
    color:  #3AB4F2;
}

.ao-price .ao-price-body .ao-link {
    margin: 0;
}


/* ----- timeline ----- */


.ao-timeline {
    position: relative;
}

.ao-timeline::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 5px;
    height: calc(100% - 10px);
    width: 5px;
    background: #191923;
}

.ao-timeline .ao-timeline-item {
    position: relative;
}

.ao-timeline .ao-timeline-item .ao-timeline-mark-light {
    background: #fafafc;
    position: absolute;
    top: 4px;
    right: -4px;
    width: 23px;
    height: 23px;
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-timeline .ao-timeline-item .ao-timeline-mark {
    position: absolute;
    top: 8px;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 3px  #3AB4F2;
    background: #1e1e28;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.ao-timeline .ao-timeline-item:hover .ao-timeline-mark-light {
    -webkit-animation: puls 1s infinite;
    animation: puls 1s infinite;
}

.ao-timeline .ao-timeline-content {
    position: relative;
    margin-right: 45px;
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    padding: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.ao-timeline .ao-timeline-content:after {
    height: 10px;
    width: 10px;
    background-color: rgba(43, 43, 53, 0.98);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    content: '';
    position: absolute;
    top: 11px;
    right: -5px;
    border-top-right-radius: 50%;
}

.ao-timeline .ao-timeline-content .ao-card-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ao-timeline .ao-timeline-content .ao-card-header .ao-right-side {
    margin-bottom: 15px;
}

.ao-timeline .ao-timeline-content .ao-card-header .ao-right-side .ao-date {
    color: #a4b6c2;
    margin-left: auto;
    background: #20202a;
    padding: 5px 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    font-size: 10px;
}


/* ----- contact form ----- */

.ao-form-field input,
.ao-form-field textarea {
    height: 50px;
    width: 100%;
    background: linear-gradient(159deg, #252532 0%, #23232d 100%);
    border: none;
    color: #fafafc;
    padding-left: 65px;
    padding-right: 15px;
    -webkit-box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    margin-bottom: 0;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

::-webkit-input-placeholder {
    color: #a4b6c2;
}

:-ms-input-placeholder {
    color: #a4b6c2;
}

::-ms-input-placeholder {
    color: #a4b6c2;
}

::placeholder {
    color: #a4b6c2;
}

.ao-form-field textarea {
    padding-left: 15px;
    padding-top: 15px;
    height: 150px;
    border-left: solid 50px #20202a;
}

.ao-form-field textarea.ao-active {
    border-color:  #3AB4F2;
}

.ao-form-field textarea:focus {
    border-color:  #3AB4F2;
}

.ao-contact-form .ao-input:focus {
    outline: none;
}

.ao-contact-form .ao-input.ao-active+label,
.ao-contact-form .ao-input:focus+label {
    background:  #3AB4F2;
    color: #20202a;
}

.ao-form-field {
    position: relative;
    margin-bottom: 30px;
}

.ao-contact-form label {
    text-align: center;
    color: #d0d0c4;
    position: absolute;
    height: 50px;
    width: 50px;
    background: #20202a;
    top: 0;
    left: 0;
    padding: 0 15px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 50px;
    letter-spacing: 1px;
    font-weight: 500;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    cursor: text;
}

.ao-submit-frame {
    position: relative;
    height: 45px;
}

.ao-submit-frame .ao-submit {
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.ao-submit-frame .ao-submit:focus {
    outline: inherit;
}

.ao-submit-frame .ao-success {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -15px;
    overflow: hidden;
    max-width: 150px;
    -webkit-transform: scale(0);
    transform: scale(0);
    text-transform: uppercase;
    color: #fafafc;
    background: #20202a;
    letter-spacing: 1.5px;
    font-weight: 600;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    border: none;
    height: 0;
    font-size: 11px;
    padding: 15px 35px 0;
    margin: 0;
}


/* ----- footer ----- */


footer {
    width: 100%;
    padding: 17px 30px 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    font-size: 11px;
    color: #d0d0c4;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
    z-index: 9;
}

footer div {
    margin-bottom: 10px;
}

footer a {
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

footer a:hover {
    color: #fafafc;
}


/* ------------------------------

portfolio

------------------------------ */

/* ----- filter ----- */


.ao-filter a {
    color: #d0d0c4;
    margin-bottom: 0;
}

.ao-filter a.ao-current {
    color: #fafafc;
}


/* ----- portfolio items ----- */

.ao-portfolio-item-frame {
    display: block;
    width: 100%;
    outline: inherit;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    position: relative;
    padding-bottom: 60%;
}

.ao-portfolio-item-frame img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-filter: brightness(85%) blur(0);
    filter: brightness(85%) blur(0);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-portfolio-item-frame .ao-item-hover {
    width: 27px;
    height: 27px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
    border-radius: 50%;
    position: absolute;
    color: #fafafc;
    top: 30px;
    left: 30px;
    background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
    font-size: 11px;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.ao-portfolio-item-frame:hover .ao-item-hover {
    opacity: 0.5;
}

.ao-portfolio-item-frame:hover .ao-item-hover:hover {
    opacity: 1;
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.ao-portfolio-item-frame:hover img {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    -webkit-filter: brightness(100%) blur(0);
    filter: brightness(100%) blur(0);
}

.ao-grid {
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
    width: 100%;
    /* clear fix */
}

.ao-grid:after {
    content: '';
    display: block;
    clear: both;
}

.ao-grid .ao-grid-item {
    float: left;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    height: auto;
    padding: 0 15px;
}

.ao-grid .ao-grid-item .ao-item-description {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 15px;
    width: calc(100% - 29px);
    padding: 30px;
    background: linear-gradient(159deg, rgba(45, 45, 58, 0.98) 0%, rgba(43, 43, 53, 0.98) 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.ao-grid .ao-grid-item:hover .ao-item-description {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.ao-grid.ao-grid-2-col .ao-grid-item {
    width: 50%;
}

.ao-grid.ao-grid-2-col .ao-grid-item .ao-portfolio-item-frame.ao-horizontal {
    padding-bottom: 66.7%;
}

.ao-grid.ao-grid-2-col .ao-grid-item .ao-portfolio-item-frame.ao-vertical {
    padding-bottom: 140%;
}

.ao-grid.ao-grid-2-col .ao-grid-item .ao-portfolio-item-frame.ao-square {
    padding-bottom: 90%;
}

.ao-grid.ao-grid-3-col .ao-grid-item {
    width: 33.3333%;
}

.ao-grid.ao-grid-3-col .ao-grid-item .ao-portfolio-item-frame.ao-horizontal {
    padding-bottom: 65%;
}

.ao-grid.ao-grid-3-col .ao-grid-item .ao-portfolio-item-frame.ao-vertical {
    padding-bottom: 140%;
}

.ao-grid.ao-grid-3-col .ao-grid-item .ao-portfolio-item-frame.ao-square {
    padding-bottom: 90%;
}


/* ----- touch device ----- */

@media (pointer: coarse) {
    .ao-portfolio-item-frame .ao-item-hover {
        opacity: 0.5;
    }

    .ao-grid .ao-grid-item .ao-item-description {
        position: relative;
        left: 0;
        width: 100%;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    .ao-grid .ao-grid-item:hover .ao-item-description {
        -webkit-transform: none;
        transform: none;
    }
}


/* ----- single project ----- */


.ao-project-cover {
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    margin-bottom: 30px;
}

.ao-project-cover .ao-portfolio-item-frame {
    padding-bottom: 50%;
}

.ao-project-category {
    color: #a4b6c2;
    margin-left: auto;
    display: inline;
    background: #20202a;
    padding: 5px 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    font-size: 10px;
}


/* ----- fancybox customization ----- */

.fancybox-container {
    margin: 15px;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
}

.fancybox-container .fancybox-bg {
    background: rgba(32, 32, 42, 0.98);
}

.fancybox-is-open .fancybox-bg {
    opacity: 1;
}

.fancybox-toolbar {
    background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100vw - 30px);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px;
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    z-index: 999999;
    padding: 0 17px;
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

.fancybox-toolbar .fancybox-button {
    background: transparent;
    color: #d0d0c4;
}

.fancybox-toolbar .fancybox-button:hover {
    color: #fafafc;
}

.fancybox-toolbar .fancybox-button svg {
    width: 20px;
}

.fancybox-slide--image {
    padding: 130px 0 60px;
}

.fancybox-navigation .fancybox-button {
    background-color: transparent;
    margin: 0 15px;
}

.fancybox-infobar {
    top: 0;
    left: 0;
    font-size: 11px;
    margin-left: 5px;
    z-index: 9999999999999;
    height: 70px;
    width: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
    color: #d0d0c4;
}

.fancybox-progress {
    background:  #3AB4F2;
    z-index: 999999999999999999;
}

.fancybox-content .fancybox-image {
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.fancybox-thumbs {
    background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
    -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
    box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.fancybox-thumbs__list a:before {
    border-color:  #3AB4F2;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.fancybox-button[disabled] {
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}


/* ------------------------------

content (after 1600px)

------------------------------ */

@media (max-width: 1600px) {

    .ao-banner .ao-banner-overlay .ao-banner-title h1 {
        color: #fafafc;
        font-size: 42px;
    }

    .ao-banner .ao-banner-overlay .ao-banner-photo {
        width: 360px;
    }
}

/* ------------------------------

content (after 1400px)

------------------------------ */

@media (max-width: 1400px) {
    
    .ao-banner-back {
        display: none;
    }
  
    .ao-banner .ao-banner-overlay .ao-banner-title h1 {
        color: #fafafc;
        font-size: 36px;
    }
    
    .ao-banner .ao-banner-overlay .ao-banner-photo {
        width: 320px;
    }
}


/* ------------------------------

content (after 1200px)

------------------------------ */

@media (max-width: 1200px) {
    
    .ao-banner .ao-banner-overlay .ao-banner-photo {
        display: none;
    }
    
    .ao-grid.ao-grid-2-col .ao-grid-item {
        width: 50%;
    }
    
    .ao-grid.ao-grid-3-col .ao-grid-item {
        width: 50%;
    }
}


/* ------------------------------

content (after 920px)

------------------------------ */

@media (max-width: 920px) {
    
    .ao-banner .ao-banner-overlay {
        padding: 60px 30px;
    }

    .ao-banner .ao-banner-overlay .ao-banner-title {
        text-align: center;
    }
    
    .ao-banner .ao-banner-overlay .ao-banner-title h1 {
        color: #fafafc;
        font-size: 46px;
    }
    
    .ao-banner .ao-banner-overlay .ao-banner-title .ao-buttons-frame {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    
    .ao-banner .ao-banner-overlay .ao-banner-title .ao-buttons-frame a {
        max-width: 200px;
        margin: 0 auto;
    }
    
    .ao-banner .ao-banner-overlay .ao-banner-title .ao-buttons-frame a:first-child {
        margin-bottom: 15px;
    }
  
    .ao-code {
        min-height: 70px;
        margin-bottom: 0;
    }
   
    .ao-timeline .ao-timeline-content {
        margin-right: 30px;
    }
    
    .fancybox-container {
        margin: 0;
        width: 100vw;
        height: 100vh;
    }
    
    .fancybox-toolbar {
        width: 100vw;
    }
    
    .fancybox-navigation {
        width: 100%;
        position: absolute;
        bottom: 35px;
    }
}


/* ------------------------------

content (after 768px)

------------------------------ */

@media (max-width: 768px) {

    .ao-section-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ao-section-title .ao-right-frame {
        margin-left: auto;
        margin-right: auto;
    }
  
    .ao-grid.ao-grid-2-col .ao-grid-item {
        width: 100%;
    }
   
    .ao-grid.ao-grid-3-col .ao-grid-item {
        width: 100%;
    }
  
    .ao-filter {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
   
    .ao-filter a {
        margin: 0 0 10px;
    }
  
    .ao-m-hidden {
        display: none;
    }
}


/* ------------------------------

content (after 500px)

------------------------------ */

@media (max-width: 500px) {
    
    .ao-section-title {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .ao-section-title .ao-right-frame {
        margin-left: auto;
        margin-right: auto;
    }
 
    .ao-grid.ao-grid-2-col .ao-grid-item {
        width: 100%;
    }

    .ao-grid.ao-grid-3-col .ao-grid-item {
        width: 100%;
    }
}

/* ------------------------------

transitions

------------------------------ */


.ao-a {
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
}

/* ----- in animation ----- */

.transition-fade {
    -webkit-transition: 0.55s ease-in-out;
    transition: 0.55s ease-in-out;
    opacity: 1;
}

.transition-fade .ao-a {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}


.transition-fade .ao-price.ao-popular-price {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/* ----- out animation ----- */


html.is-animating .transition-fade {
    opacity: 0;
}


html.is-animating .transition-fade .ao-a {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    opacity: 0;
}


html.is-animating .ao-a,
html.is-animating .ao-current-page {
    opacity: 0;
}


.fade-right {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}


html.is-animating .fade-right {
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
    opacity: 0;
}


.fade-left {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}


html.is-animating .fade-left {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
    opacity: 0;
}

@media (max-width: 920px) {
    .transition-fade .ao-price.ao-popular-price {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}